#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 18px 1rem;
  text-align: center;
}

.progress-container {
  position: relative;
  font-size: 14px;
  color: white;
  background-color: #e9ecef;
  border: solid 1px;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.progress-bar {
  padding: 0 4px;
  z-index: 0;
  top: 0;
  width: 1%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #6fe3e1, #5257e5);
  white-space: nowrap;
}

.progress-text {
  z-index: 2;
}

.progress-bars-container {
  padding: 8px;
  height: 140px;
  margin-top: 2rem;
}

.h1 {
  font-size: 72px;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 250px;
  margin-top: 1rem;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.url-container,
.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.active-btn {
  border: 1px solid #5257e5;
}

.output-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.output {
  padding: 4px 12px;
  min-width: 300px;
  border-left: 1px solid #5257e5;
  text-align: left;
}

.output > p {
  text-align: center;
}

.emoji {
  width: 24px;
}

.qmark-span {
  display: inline-block;
  transform: rotate(20deg);
}

.qmark-span:hover {
  transform: rotate(20deg) scale(1.2);
  transition: transform 0.1s;
}

.qmark-span > a {
  text-decoration: none;
  background: linear-gradient(to top, #4568DC, #B06AB3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about {
  text-align: left;
  margin-top: 2rem;
}

footer > div {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer > div:nth-child(2) {
  margin-top: 8px;
}

a {
  color: #5257e5;
}